.what {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1.2fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.4fr;
    gap: 0 0;
    grid-template-areas: "title title image image" "subtitle subtitle image image" "content content content content" "category category notweets noTweets";
    max-height: min-content;
    box-sizing: border-box;
    padding: 10px;

}
.title {
    grid-area: title;
    text-align: left;
    font-size: large;
    font-weight: bold;
}
.subtitle {
    grid-area: subtitle;
    text-align: left;
    font-size: small;
    color: Gray;
}
.image {
    grid-area: image;
}
.content {
    margin-top: 10px;
    grid-area: content;
    text-align: justify;
    font-size: large;
    font-weight: bold;
}
.contImg {
    width: 32%;
    padding: 0.8em;
    cursor: pointer;
    transition: 0.2s all;

}
.headTitle {
    text-align: center;

}
.category {
    grid-area: category;
    margin-top: -20px;
}

.notweets {
    grid-area: notweets;
    margin-top: -20px;
}

.demo {
    margin-left: 2px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 1Fr;

}

.profile-avatar {
    margin-top: 8%;
    margin-left: 8%;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
}
.userCon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: blue;
    background-color: steelblue;
    margin-bottom: 2%;
    width: 100%;
    height: 85px;
}
.userCon:hover {
    box-shadow: 0 8px 16px 0 rgba(247, 13, 13, 0.2);
    cursor: pointer;

}



.list-group {
    margin-top: 15px;
    margin-left: 40px;

}
.data {
    display: grid;

}
.userName {
    color: white;

    margin-top: -20px;
    margin-left: -60%;
}
.user {
    color: black;
    font-style: italic;
    margin-top: 10px;
    margin-left: -60%;
}
.searchDropDown {
    margin-top: 10px;
    margin-left: 50px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 8px #909090;
    border-radius: 4px;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #A9D0F5;
}
.cardT {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10%;
    margin-left: 10%;
    width: 85%;
    height: 85%;
    cursor: pointer;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;

}
.search-Bar {
    margin-left: 1em;
    border: 2px solid #999;
    font-size: 1.3em;
    width: 90%;
    height: 50%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(8, 11, 223, 0.2);
    transition: 0.3s;
    border-radius: 30px;
}
.search-Bar:hover {
    box-shadow: 0 8px 16px 0 rgba(133, 9, 9, 0.2);
    cursor: pointer;

}
.contImgS {

    width: 70%;
    padding: 0.8em;
    cursor: pointer;
    transition: 0.2s all;
    border-radius: 50%;
    margin-left: -20%;
    margin-top: -26%;
}
